<html>
    <link rel="stylesheet" href="../public/styles.css">    
<body>
     <%- include('partials/navbar'); %>
   
            <form method="post" action="/post/edit/<%=post._id%>">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input class="form-control" id="title" name="title" value="<%=post.title%>" placeholder="Title">
                </div>
                <div class="form-group">
                    <label for="status">status</label>
                    <input class="form-control" id="status" name="status" value="<%=post.status%>" placeholder="status">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <br>
            <form method="post" action="/post/delete/<%=post._id%>">
                <button type="submit" class="btn btn-primary">Delete</button>
            </form>
     
</body>

</html>