<html>

<body>
    <%- include('partials/navbar'); %>
    <br>
    <div>

        <h1 class="mt-4">My Posts</h1>
        <p>Welcome <%= user.name %></p>

        <div class="post-something">
            <a href="/post">Add Post</a>
        </div>


    </div>
    <link rel="stylesheet" href="../public/styles.css">
    <%var c=0;%>
    <div class="outer">
        <%post.forEach(item=>{%>
        <%if(item.username=== user.username){%>
        <div id="box1">

            <div class="box-in">
                <h1 class="title">
                    <%=item.title%></h1>

                <h1><%=item.status%></h1>
                <img class="center" src="../public/uploads/<%=item.image%>" alt="hello img" width="10%" >
                <a style="margin-left: 26cm; font-size: 20px;" href="/post/edit/<%=item._id%>">Edit</a>


            </div>


        </div>
        <br>
        <%c+=1}%>
<%})%>
<%if(c==0){%>
<h1>Add new post!!</h1>

<%}%>
    </div>
</body>

</html>